[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.22"
matplotlib = "~=3.5"
gym = ">=0.21"
mlagents-envs = "0.27"
torch = "~=1.10"
ray = {extras = ["rllib"], version = "~=1.9"}

[dev-packages]
tensorboard = "~=2.7"

[requires]
python_version = "3.8"
